/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile {
    width: 100%;
    max-width: 400px;
    padding: 60px;
    border:2px solid rgb(56, 37, 37);
    border-radius: 10px;
    background-color: #433c3c;
}

.profile-pic img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white ;
    
}

.bio{
    color: #fff;
}

.title h1 {
    font-size: 24px;
    margin-bottom: 20px;
}



.social-icons a img {
    width: 40px;
    margin-bottom: 20px;
}

.links .link-item {
    margin-bottom: 15px;
}

.links .btn {
    display: block;
    padding: 15px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-size: 18px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links .btn:hover {
    background-color: #555;
}

.links .btn img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.website{
    color: rgb(15, 15, 71);
}
